# Dependencies
.dart_tool/
.packages
.pub/
pubspec.lock

# Build
build/
*.class
*.dex
*.jar
*.aab
*.apk
*.ipa
*.app
*.appbundle

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env.local
