# Environment
myenv/
venv/
.env*

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg

# Dependencies
node_modules/

# Build outputs
dist/
build/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads
uploads/
backend/uploads/

# Frontend
frontend/.env
frontend/dist/

# Python/Mongo
*.db